{% extends 'base.html' %}

{% block content %}


<main>
     <body>
          
          <h2><u>Kinesis</u></h2>
          <p> <b>The main objective of brain computer interfacing (BCI) is to replace or restore useful function 
               to people disabled by neuromuscular disorders.  <b></p>
          <p><b> In the regard, the Crown has two main advantages:
               - Users have access to their own collected data which is not the case with other headsets where you have to
               pay to access your own data.
               - the Crown also provides a function called kinesis. Kinesis is responses to movement. In this case, the Crown 
               captures eeg signals in response to imagined movement.<b></p>  
          <p> If the kinesis signals associated with a certain imagined action can be captured and then replicated, the signal 
               can be used as a switch to for example turn on lights, television etc which would be of great benefits to people paralyzed.<b></p>
          <p> This is very possible to achieve as is demonstrated in the attached video where AJ Kellar a founder of Neurosity controls his
                computer mouse using brain eeg signals.<b>
     </p>
     <br><br>

     
          <h2> <u>Theory Behind Kinesis </u></h2>

          <p> <b>The theory here is that the motor cortex in the brain sends eeg signals when we imagine movement, for example moving your right index finger.
               These signals can then be replicated to act as a switch.<b> </p>
               

               <div class="container">
                <div class="image">
                    <h3> The Motor Cortex</h3><br>
                    <p> <img  src="static/images/Motor-Cortex.webp" height="350px"  width="450px" alt="Motor Cortex" Align="left" >
                    </p>
               
               </div>
         
                
               <div class="position">
         
                 <p> <b>The different areas of the motor cortex send eeg signals corresponding to various parts of the body 
                    such as fingers, hands, legs feet etc. The points on the crown probably most linked to the motor cortex are
                     nemely F5, PO3, PO4, F6.
                <b></p>
               </div>
               <div>
                        <iframe width="350" height="400"
          src="https://www.youtube.com/embed/YYD3Yci1fWA" Align="right">
          </iframe>
          

          
<h2>     Example of EEG signals controlling the scroll of your computer </h2>
     </main>

    


          
{% endblock %}
